rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/records/{recordId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if (request.auth != null && request.auth.uid == userId)
        || userId == "naver_lGu8c7z0B13JzA5ZCn_sTu4fD7VcN3dydtnt0t5PZ-8";
      allow delete: if request.auth != null && request.auth.uid == userId;
    }
    match /users/{uid}/settings/{settingId} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /users/{uid}/readProgress/{bookId} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /books/{bookId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null &&
        request.auth.uid == "naver_lGu8c7z0B13JzA5ZCn_sTu4fD7VcN3dydtnt0t5PZ-8";
      match /chapters/{chapterId} {
        allow read: if request.auth != null;
        allow write: if request.auth != null &&
          request.auth.uid == "naver_lGu8c7z0B13JzA5ZCn_sTu4fD7VcN3dydtnt0t5PZ-8";
      }
      match /characters/{charId} {
        allow read: if request.auth != null;
        allow write: if request.auth != null &&
          request.auth.uid == "naver_lGu8c7z0B13JzA5ZCn_sTu4fD7VcN3dydtnt0t5PZ-8";
      }
      match /sources/{sourceId} {
        allow read: if request.auth != null &&
          request.auth.uid == "naver_lGu8c7z0B13JzA5ZCn_sTu4fD7VcN3dydtnt0t5PZ-8";
        allow write: if request.auth != null &&
          request.auth.uid == "naver_lGu8c7z0B13JzA5ZCn_sTu4fD7VcN3dydtnt0t5PZ-8";
      }
    }
    match /news/{docId} {
      allow read: if true;
      allow write: if request.auth != null &&
        request.auth.uid == "naver_lGu8c7z0B13JzA5ZCn_sTu4fD7VcN3dydtnt0t5PZ-8";
    }
    match /lawConsultCache/{cacheId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
